body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black !important;
}

.navbar-brand {
    color: white !important;
}

.nav-item a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
}

.toggle {
    color: #ffffff;
    width: 20px;
    height: 20px;
}


/* Slider header*/

.carousel-item {
    margin-top: 55px;
    height: 89vh;
    min-height: 500px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item1 {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 50vh;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*end slider */


/* services */

.card {
    cursor: pointer
}

.hd {
    font-size: 25px;
    font-weight: 550
}

.card.hover,
.card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2)
}

.img {
    margin-bottom: 35px;
    border-radius: 50%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222)
}

.avatar {
    border-radius: 50%;
    margin-bottom: 35px;
    width: 10px;
    height: 10px;
}

.card-title {
    font-weight: 600
}

button.focus,
button:focus {
    outline: 0;
    box-shadow: none !important
}

.ft {
    margin-top: 25px
}

.chk {
    margin-bottom: 5px
}

.rck {
    margin-top: 20px;
    padding-bottom: 15px
}


/*offres*/

.demo10 {
    background: #ebeae096;
    padding: 30px 0
}

.pricingTable10 {
    text-align: center
}

.pricingTable10 .pricingTable-header {
    padding: 30px 0;
    background: #4d4d4d;
    position: relative;
    transition: all .3s ease 0s
}

.pricingTable10:hover .pricingTable-header {
    background: #09b2c6
}

.pricingTable10 .pricingTable-header:after,
.pricingTable10 .pricingTable-header:before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #d9d8d8;
    position: absolute;
    bottom: 12px
}

.pricingTable10 .pricingTable-header:before {
    left: 40px
}

.pricingTable10 .pricingTable-header:after {
    right: 40px
}

.pricingTable10 .heading {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0
}

.pricingTable10 .price-value {
    display: inline-block;
    position: relative;
    font-size: 55px;
    font-weight: 700;
    color: #09b1c5;
    transition: all .3s ease 0s
}

.pricingTable10:hover .price-value {
    color: rgb(0, 0, 0)
}

.pricingTable10 .currency {
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    top: 6px;
    left: -19px
}

.pricingTable10 .month {
    font-size: 16px;
    color: #fff;
    position: absolute;
    bottom: 15px;
    right: -30px;
    text-transform: uppercase
}

.pricingTable10 .pricing-content {
    padding-top: 50px;
    background: #fff;
    position: relative
}

.pricingTable10 .pricing-content:after,
.pricingTable10 .pricing-content:before {
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #7c7c7c;
    position: absolute;
    top: 12px
}

.pricingTable10 .pricing-content:before {
    left: 40px
}

.pricingTable10 .pricing-content:after {
    right: 40px
}

.pricingTable10 .pricing-content ul {
    padding: 0 20px;
    margin: 0;
    list-style: none
}

.pricingTable10 .pricing-content ul:after,
.pricingTable10 .pricing-content ul:before {
    content: "";
    width: 8px;
    height: 46px;
    border-radius: 3px;
    background: linear-gradient(to bottom, #3ecaca 50%, #727373 50%);
    position: absolute;
    top: -22px;
    z-index: 1;
    box-shadow: 0 0 5px #707070;
    transition: all .3s ease 0s
}

.pricingTable10:hover .pricing-content ul:after,
.pricingTable10:hover .pricing-content ul:before {
    background: linear-gradient(to bottom, #251e1e 50%, #34bacc 50%)
}

.pricingTable10 .pricing-content ul:before {
    left: 44px
}

.pricingTable10 .pricing-content ul:after {
    right: 44px
}

.pricingTable10 .pricing-content ul li {
    font-size: 15px;
    font-weight: 700;
    color: #473e3a;
    padding: 10px 0;
    border-bottom: 1px solid #161615
}

.pricingTable10 .pricing-content ul li:last-child {
    border-bottom: none
}

.pricingTable10 .read {
    display: inline-block;
    font-size: 16px;
    color: rgb(59, 53, 53);
    text-transform: uppercase;
    background: #d9d9d8;
    padding: 8px 25px;
    margin: 30px 0;
    transition: all .3s ease 0s
}

.pricingTable10 .read:hover {
    text-decoration: none
}

.pricingTable10:hover .read {
    background: #09b1c5
}


/*qui*/

.aboutus-section {
    padding: 90px 0;
}

.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}

.aboutus-title::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}

.aboutus-text {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
    margin: 0 0 35px;
}

a:hover,
a:active {
    color: #ffb901;
    text-decoration: none;
    outline: 0;
}

.aboutus-more {
    border: 1px solid #fdb801;
    border-radius: 25px;
    color: #fdb801;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}

.feature .feature-box .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;
}

.feature .feature-box .iconset::after {
    background: #fdb801 none repeat scroll 0 0;
    content: "";
    height: 150%;
    left: 43%;
    position: absolute;
    top: 100%;
    width: 1px;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}

.feature .feature-box .feature-content {
    float: left;
    padding-left: 28px;
    width: 78%;
}

.feature .feature-box .feature-content h4 {
    color: #0f0f0f;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 0 5px;
}

.feature .feature-box .feature-content p {
    color: #606060;
    font-size: 13px;
    line-height: 22px;
}

.icon {
    color: #f4b841;
    padding: 0px;
    font-size: 40px;
    border: 1px solid #fdb801;
    border-radius: 100px;
    color: #fdb801;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}


/* equipe */

.our-team {
    padding: 30px 0 40px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.our-team .picture {
    border-radius: 50%;
}

.our-team .picture::before {
    content: "";
    border-radius: 50%;
    position: absolute;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
    height: 100%;
}

.our-team .picture::after {
    content: "";
    width: 80%;
    height: 80%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
}

.our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}

.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social {
    bottom: 0;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
}

.contact {
    background: #ffffff;
    width: 900px;
    height: 650px;
    margin: 0% 0%;
    position: relative;
}

.contact .contact-form {
    width: 53%;
    margin-left: 0%;
    border-left: 1px solid rgb(31, 29, 131);
    float: left;
}

.contact .contact-form .title {
    font-size: 2.5em;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: rgb(31, 29, 131);
    margin: 5% 8%;
}

.contact .contact-form .subtitle {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0 4% 5% 8%;
}

.contact .contact-form input,
.contact .contact-form textarea {
    width: 330px;
    padding: 3%;
    margin: 2% 8%;
    color: #242424;
    border: 1px solid #B7B7B7;
}

.contact .contact-form input::placeholder,
.contact .contact-form textarea::placeholder {
    color: #242424;
}

.contact .contact-form .btn-send {
    background: #A383C9;
    width: 180px;
    height: 60px;
    color: #FFFFFF;
    font-weight: 700;
    margin: 2% 8%;
    border: none;
}

.invalid {
    border-color: #c00000 !important;
    border-width: 3px;
    background-color: #ffdddd;
}

.valid {
    border-color: green !important;
    border-width: 3px;
    background-color: #ddffdd;
}


/*footer */

#footer .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    margin-top: 20px;
    text-transform: uppercase;
}

#footer {
    background: #000000 !important;
}

#footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    margin-top: 25px;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: #ffffff;
}

#footer ul.social li a:hover {
    color: #eeeeee;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}


/* btn top style  */

#btnScrollToTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #000;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.25);
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}

#btnScrollToTop:active {
    background: #000000;
}

@media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:990px) {
    .pricingTable10 {
        margin-bottom: 25px
    }
}

@media all and (max-width:900px) {
    .services-grid {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
}